:root{
--primary-color: #C6AC9D;
--secondary-color:#4CCBB8;
--box-shadow:0 5px 10px rgba(0, 0, 0, 0.3);
}
.portfolio{
    background-color: #242328;
}
h1  {
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
    color: var(--primary-color);
}
h2{
    font-family: 'Tapestry', cursive;
    font-size: 50px;
    color: var(--secondary-color);
}
h3{
    color: aliceblue;
}
.hero {
    background: #242328;
    text-align: center;
    padding: 80px 0;
    margin-top: -30px;
    
}
.hero p{
  color: var(--primary-color); 
   font-family: 'Roboto', sans-serif;
   font-size: 30px;
   margin: 0;
}
p{
    color: aliceblue;
}

    .primary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}
.social-links a {
    margin: 0 20px;
    padding: 15px 24px;
    font-size: 25px;
    border-radius: 50px;
}
footer{
    display: block;
    margin: 10px 30px;
}
@media(max-width: 900px) {
    h1{
        font-size: 44px;
        line-height: 2;
    }
    h2{
        font-size: 44px;
    }
    .content{
        text-align: center;
        padding: 0;
    }
    .content-container{

    }
}
.content-container{
    padding: 80px 0px;
}
.content{
    margin:30px;
}
.content p{
    font-family: 'Roboto', sans-serif;
   font-size: 20px;
   line-height: 2;
    color: aliceblue;
    
}